<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logo Marquee</title>
    <link rel="stylesheet" href="marquee.css">
</head>
<body>
    <!-- Logo Marquee Component -->
    <section class="logo-marquee">
        <div class="marquee-container">
            <!-- First track - moving downward -->
            <div class="marquee-track downward">
                <div class="marquee-content">
                    <!-- Logos will be duplicated in JS for infinite scrolling -->
                    <div class="marquee-item">
                        <img src="../../assets/logos/devicon--flask.svg" alt="Flask">
                    </div>
                    <div class="marquee-item">
                        <img src="../../assets/logos/devicon--nodejs-wordmark.svg" alt="Node.js">
                    </div>
                    <div class="marquee-item">
                        <img src="../../assets/logos/devicon--postgresql-wordmark.svg" alt="PostgreSQL">
                    </div>
                    <div class="marquee-item">
                        <img src="../../assets/logos/devicon--github-wordmark.svg" alt="GitHub">
                    </div>
                    <div class="marquee-item">
                        <img src="../../assets/logos/devicon--canva.svg" alt="Canva">
                    </div>
                    <div class="marquee-item">
                        <img src="../../assets/logos/devicon--php.svg" alt="PHP">
                    </div>
                    <div class="marquee-item">
                        <img src="../../assets/logos/logos--shopify.svg" alt="Shopify">
                    </div>
                </div>
            </div>
            
            <!-- Second track - moving upward -->
            <div class="marquee-track upward">
                <div class="marquee-content">
                    <!-- Different set of logos moving in opposite direction -->
                    <div class="marquee-item">
                        <img src="../../assets/logos/devicon--figma.svg" alt="Figma">
                    </div>
                    <div class="marquee-item">
                        <img src="../../assets/logos/devicon--framermotion-wordmark.svg" alt="Framer Motion">
                    </div>
                    <div class="marquee-item">
                        <img src="../../assets/logos/devicon-plain--wordpress-wordmark.svg" alt="WordPress">
                    </div>
                    <div class="marquee-item">
                        <img src="../../assets/logos/devicon--woocommerce-wordmark.svg" alt="WooCommerce">
                    </div>
                    <div class="marquee-item">
                        <img src="../../assets/logos/logos--stripe.svg" alt="Stripe">
                    </div>
                    <div class="marquee-item">
                        <img src="../../assets/logos/simple-icons--elementor.svg" alt="Elementor">
                    </div>
                    <div class="marquee-item">
                        <img src="../../assets/logos/simple-icons--klarna.svg" alt="Klarna">
                    </div>
                    <div class="marquee-item">
                        <img src="../../assets/logos/Klaviyo_primary_logo.svg.png" alt="Klaviyo">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="marquee.js"></script>
</body>
</html>